{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
   {% include 'orders/includes/inc_order_summary.html' %}
   <div class="container-fluid">
       {% for item in object.orderitems.select_related %}
           <div>
               <span class="category_name">
                   {{ item.product.category.name }}
               </span>
               <span class="product_name">{{ item.product.name }}</span>
               <span class="product_price">
                   {{ item.product.price }} руб.
               </span>
               <span class="product_quantity">
                   x {{ item.quantity }} шт.
               </span>
               <span class="product_cost">
                    = {{ item.get_product_cost }} руб.
               </span>
           </div>
       {% endfor %}
   </div>
   {% include 'orders/includes/inc_order_actions.html' %}

{% endblock %}
